<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringTestApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateClassesAndResources" />
    <module name="SpringTest.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.github.it.springtest.SpringTestApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>